

#header {
  /*add background image to header*/
  background-image: url('../images/Pdx-skyline.jpg');
  width: 100%;
  height:150px;
}
h1 {
  /*changing style of logo text*/
  font-size: 50px;
  color: white;
  font-style: italic;
}

.btn-group button {
  background-color: blue; /* blue background */
  border: 1px solid white; /* white border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: lightblue;
}

fieldset{
   font-size: 10px;
   width: 400px;
   height: 65px;
   margin: auto;
}

#aboutUs {
  position: relative;
  bottom: 0%;
  margin-left: 47%;
}