#header {
    /*add background image to header*/
    background-image: url('../images/Pdx-skyline.jpg');
    width: 100%;
    height:150px;
  }

h1 {
    /*changing style of logo text*/
    font-size: 50px;
    color: white;
    font-style: italic;
  }

.btn-group button {
    background-color: blue; /* blue background */
    border: 1px solid white; /* white border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: lightblue;
  }

#news { color: #111; font-family: Copperplate / Copperplate Gothic Light, sans-serif; font-size: 150px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
#aboutUs {
    position: relative;
    bottom: 0%;
    margin-left: 47%;
  }

  a:visited {
    color: purple;
  }


  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin: auto;
    margin-top: auto;
    justify-self: center;
    /* position: absolute; */
    top: 50%;
    /* -ms-transform: translateY(-50%);
     transform: translateY(-50%); */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }